# Advanced Regular Expressions Lab

Complete the following set of exercises to solidify your knowledge of regular expressions.

In [1]:
import re

### 1. Use a regular expression to find and extract all vowels in the following text.

In [2]:
text = "This is going to be a sentence with a good number of vowels in it."

In [3]:
pattern = '[AaEeIiOoUu]'
print(re.findall(pattern,text))

['i', 'i', 'o', 'i', 'o', 'e', 'a', 'e', 'e', 'e', 'i', 'a', 'o', 'o', 'u', 'e', 'o', 'o', 'e', 'i', 'i']

### 2. Use a regular expression to find and extract all occurrences and tenses (singular and plural) of the word "puppy" in the text below.

In [4]:
text = "The puppy saw all the rest of the puppies playing and wanted to join them. I saw this and wanted a puppy of my own!"

In [5]:
pattern = 'pupp[y]?i*e*s*'
print(re.findall(pattern,text))

['puppy', 'puppies', 'puppy']

### 3. Use a regular expression to find and extract all tenses (present and past) of the word "run" in the text below.

In [7]:
text = "I ran the relay race the only way I knew how to run it."

In [10]:
pattern = 'r[au]n'
list_extract = re.findall(pattern,text)
re.sub(pattern,'',text)

'I  the relay race the only way I knew how to  it.'

In [11]:
list_extract

['ran', 'run']

### 4. Use a regular expression to find and extract all words that begin with the letter "r" from the previous text.

In [15]:
pattern = 'r[\w]+'
re.findall(pattern,text)

['ran', 'relay', 'race', 'run']

### 5. Use a regular expression to find and substitute the letter "i" for the exclamation marks in the text below.

In [16]:
text = "Th!s !s a sentence w!th spec!al characters !n !t."

In [17]:
pattern = '!'
re.sub(pattern,'i',text)

'This is a sentence with special characters in it.'

### 6. Use a regular expression to find and extract words longer than 4 characters in the text below.

In [18]:
text = "This sentence has words of varying lengths."

In [19]:
pattern ='[\w]{4,}'
re.findall(pattern,text)

['This', 'sentence', 'words', 'varying', 'lengths']

### 7. Use a regular expression to find and extract all occurrences of the letter "b", some letter(s), and then the letter "t" in the sentence below.

In [20]:
text = "I bet the robot couldn't beat the other bot with a bat, but instead it bit me."

In [21]:
pattern ='b'
re.findall(pattern,text)

['b', 'b', 'b', 'b', 'b', 'b', 'b']

In [22]:
pattern ='t'
re.findall(pattern,text)

['t', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't', 't']

### 8. Use a regular expression to find and extract all words that contain either "ea" or "eo" in them.

In [23]:
text = "During many of the peaks and troughs of history, the people living it didn't fully realize what was unfolding. But we all know we're navigating breathtaking history: Nearly every day could be — maybe will be — a book."

In [25]:
pattern ='[\w]*e[ao][\w]*'
re.findall(pattern,text)

['peaks', 'people', 'realize', 'breathtaking', 'Nearly']

### 9. Use a regular expression to find and extract all the capitalized words in the text below individually.

In [27]:
text = "Teddy Roosevelt and Abraham Lincoln walk into a bar."

In [28]:
pattern ='[A-Z][\w]*'
re.findall(pattern,text)

['Teddy', 'Roosevelt', 'Abraham', 'Lincoln']

### 10. Use a regular expression to find and extract all the sets of consecutive capitalized words in the text above.

In [29]:
pattern ='[A-Z][\w]* [A-Z][\w]*'
re.findall(pattern,text)

['Teddy Roosevelt', 'Abraham Lincoln']

### 11. Use a regular expression to find and extract all the quotes from the text below.

*Hint: This one is a little more complex than the single quote example in the lesson because there are multiple quotes in the text.*

In [30]:
text = 'Roosevelt says to Lincoln, "I will bet you $50 I can get the bartender to give me a free drink." Lincoln says, "I am in!"'

In [32]:
pattern ='"[\w]*"'
re.findall(pattern,text)

[]

### 12. Use a regular expression to find and extract all the numbers from the text below.

In [34]:
text = "There were 30 students in the class. Of the 30 students, 14 were male and 16 were female. Only 10 students got A's on the exam."

In [38]:
pattern ='[0-9]+'
re.findall(pattern,text)

['30', '30', '14', '16', '10']

### 13. Use a regular expression to find and extract all the social security numbers from the text below.

In [39]:
text = """
Henry's social security number is 876-93-2289 and his phone number is (847)789-0984.
Darlene's social security number is 098-32-5295 and her phone number is (987)222-0901.
"""

In [46]:
pattern ='[0-9]+-[0-9]+-[0-9]+'
re.findall(pattern,text)

['876-93-2289', '098-32-5295']

### 14. Use a regular expression to find and extract all the phone numbers from the same text.

In [43]:
pattern ='\W?[0-9]+\W?[0-9]+\W?[0-9]+'
re.findall(pattern,text)

[' 876-93-2289', '(847)789-0984', ' 098-32-5295', '(987)222-0901']

### 15. Use a regular expression to find and extract all the formatted numbers (both social security and phone) from the text.

In [47]:
pattern ='\W?[0-9]+\W?[0-9]+\W?[0-9]+'
re.findall(pattern,text)

[' 876-93-2289', '(847)789-0984', ' 098-32-5295', '(987)222-0901']