# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [50]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [57]:
# Your code here:
def Func_Count(Lista):
    i=0
    for each in Lista:
        i+=1
    return i
listinha=[1,2,3,4,5,6]

Func_Count(listinha)

6

Create a function that returns the mean of a list of numbers

In [58]:
# Your code here:
def Func_Mean(Lista):
    t=0
    i=0
    for each in Lista:
        t+=each
        i+=1
    return t/i
listinha=[1,2,3,4,5,6]
Func_Mean(listinha)

3.5

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [59]:
# Your code here:
listinha=[2,4,6]
def Func_SD(Lista):
    i=0
    VarAux=0
    for each in Lista:
        i+=1
        VarAux+=(each-Func_Mean(listinha))**2
    return (VarAux/(i-1))**0.5
Func_SD(listinha)

2.0

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [60]:
# Your code here:
listinha=[2,4,6]
def Func_C_M_SD(Lista):
    '''This Function returns the count, mean and the standard deviation of a given list. 
    It will need only the list as parameter
    Example:
        Func_C_M_SD([2,4,6])
            return (3, 4.0, 2.0)
    
    '''
    return (Func_Count(Lista),Func_Mean(Lista),Func_SD(Lista))
Func_C_M_SD(listinha)

(3, 4.0, 2.0)

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [63]:
# Your code here:
import re
string=('Estou testa@!@ndo essá str#@#ing com !@#$%¨&*( SADASDHTTDGDTGDDFG')
def func_SC(string):
    x = re.sub('[^A-Za-z0-9 ]+', '', string).lower()
    print(x,'AAAAAAAAAAAAAAAAAAAAAAAAAA')
    VarListaAux=[]
    y=str('')
    for each in x.split():
        VarListaAux.append(each)
    VarListaAux.sort()
    for each in VarListaAux:
        y += each+' '
    return y
func_SC(string)

estou testando ess string com  sadasdhttdgdtgddfg AAAAAAAAAAAAAAAAAAAAAAAAAA

'com ess estou sadasdhttdgdtgddfg string testando '

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [68]:
# Your code here:
my_list=[1,3,899,10,432,1213,1212]
def func_Classification(lista):
    VeryLow=0
    Low=0
    High=0
    VeryHigh=0
    z = (max(lista) -min(lista))/4
    for each in lista:
        if each <=z:
            VeryLow+=1
        elif each >z and each <=(2*z):
            Low+=1
        elif each >(2*z) and each <=(3*z):
            High +=1
        elif each >(3*z) and each <=max(lista):
            VeryHigh+=1
    return print('Very low:',VeryLow,'Low:',Low,'High:',High,'Very High:',VeryHigh)
func_Classification(my_list)

Very low: 3 Low: 1 High: 1 Very High: 2

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [69]:
# Your code here:
def your_age():
    y=bool
    while y:
        x= input("What is your age?")
        try:
            int(x)
            if int(x) >0 and int(x) <150:
                y=False
        except:
            print ("This is not your age")
        
                            
your_age()

What is your age?21

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order

In [70]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def func_Buzz(string):
    VarListaAux=[]
    y=str('')
    for each in string.split():
        each
        VarListaAux.append(each)
    VarListaAux.sort()
    for each in VarListaAux:
        y += each.replace(',','')+' '
    return y
func_Buzz(buzz)

'AI Big Data Data Learning Machine Pipeline Warehouse '

Make a function without return that modifies the buzz string and puts it in alphabetical order

In [71]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def func_Buzz2(string):
    VarListaAux=[]
    y=str('')
    for each in string.split():
        each
        VarListaAux.append(each)
    VarListaAux.sort()
    for each in VarListaAux:
        y += each.replace(',','')+' '
    string = y
    return
func_Buzz2(buzz)
print (buzz)

Big Data, Machine Learning, AI, Data Warehouse, Pipeline

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [72]:
import pandas as pd

In [73]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

In [74]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

In [75]:
iris_numeric.mean()
#Calculou a média de cada coluna

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

In [76]:
iris_numeric.std()
#Calculou o desvio padrão de cada coluna

sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [77]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return (x* 0.393701)
cm_to_in(1)

0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [82]:
iris_inch=iris_numeric.apply(cm_to_in)
iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874
5      2.125985     1.535434      0.669292      0.15748
6      1.811025     1.338583      0.551181      0.11811
7      1.968505     1.338583      0.590552      0.07874
8      1.732284     1.141733      0.551181      0.07874
9      1.929135     1.220473      0.590552      0.03937

In [78]:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [79]:
# Your code here:

cm_to_in(iris_numeric).head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [87]:
# Define constant below:
global error
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    iris_constant = iris_numeric + x
    return iris_constant

add_constant(error)

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

In [72]:
def add_constant(x=1):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    x += error
    return x
iris_numeric.apply(add_constant)

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [19]:
# Your code here:
def func_max(x):
    #y=x.max()
    z = iris_numeric.apply(np.max,axis=1)
    return z
func_max(iris_numeric)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [49]:
# Your code here:
def func_row():
    total_length = iris_numeric['sepal_length'] +iris_numeric['petal_length']
    total_width = iris_numeric['sepal_width'] +iris_numeric['petal_width']
    iris_numeric['total_length']=total_length
    iris_numeric['total_width']=total_width
    return iris_numeric
func_row()

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8
5,5.4,3.9,1.7,0.4,7.1,4.3
6,4.6,3.4,1.4,0.3,6.0,3.7
7,5.0,3.4,1.5,0.2,6.5,3.6
8,4.4,2.9,1.4,0.2,5.8,3.1
9,4.9,3.1,1.5,0.1,6.4,3.2

In [28]:
# Your code here:
#esse está errado
def func_row(x):
    total_length = iris_numeric.apply(np.shape,axis=0)
    total_width = iris_numeric.apply(np.shape,axis=1)[0]
    #iris_numeric.apply(total_length,axis=0)
    for each in total_length:
        print (each[0]) 
    return total_length,total_width[0]
func_row(iris_numeric)

10
10
10
10

(sepal_length    (10,)
 sepal_width     (10,)
 petal_length    (10,)
 petal_width     (10,)
 dtype: object, 4)